menu-cmp:not(.oj-complete){
  visibility: hidden;
}

menu-cmp{

}

.btn-block {
  width: 100%;
  background-color: #dddddd;
  border-color:  #dddddd;
  color: black;
}

.btn-block:hover {
  width: 100%;
  background-color: #dddddd;
  border-color:  #dddddd;
  color: black;
}